

.logo{
  height: 25%;
}

@media only screen and (min-width: 320px){
  .logo{
    height: 15%;
  }
}

@media only screen and (min-width: 360px){
  .logo{
    height: 15%;
  }
}

@media only screen and (min-width: 375px){
  .logo{
    height: 15%;
  }
}

@media only screen and (min-width: 414px){
  .logo{
    height: 15%;
  }
}

@media only screen and (min-width: 568px){
  .logo{
    height: 15%;
  }
}

@media only screen and (min-width: 667px){
  .logo{
    height: 15%;
  }
}

@media only screen and (min-width: 768px){
  .logo{
    height: 20%;
  }
}

@media only screen and (min-width: 1024px){
  .logo{
    height: 20%;
  }
}


@media only screen and (min-width: 1200px){
  .logo{
    height: 25%;
  }
}



.logo_align{
  margin: 0 auto;
  text-align: center;
}

.media_links{
  padding-top: 35px;
  padding-right: 35px;
  padding-bottom: 0px;
}

.media_link{
  padding: 5px;
  height: 8%;
}

.nav_position{
  margin: 0 auto;
  text-align: center;

}

.nav-wrapper{
  margin-top: 40px;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
}

.nav_links{
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: black;

}

.nav_link{
  color: black;
  padding-left: 25px;
  padding-right: 25px;
  font-family: "Roboto", sans-serif;
}

.nav_link:hover{
  background-color: red;
}

.carousel{
  height: 500px !important;
}

.button_wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.reservation_button{
  color: black;
  font-size: 22px;
  font-style: bold;
  font-family: "Roboto", sans-serif;
  width: 300px;
  height: 85px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 40px;
  margin-top: 50px;
  text-align: center;

}

.reservation_button:hover{
  background-color: lightgrey;
}

.sample_copy_1{
  margin-top: 50px;
  text-align: center;
  font-size: 18px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 50px;
}


@media only screen and (min-width: 320px){
  .sample_copy_1 .contact_text{
    font-size: 12px;
  }
}

@media only screen and (min-width: 360px){
  .sample_copy_1 .contact_text{
    font-size: 12px;
  }
}


@media only screen and (min-width: 375px){
  .sample_copy_1 .contact_text{
    font-size: 12px;
  }
}

@media only screen and (min-width: 414px){
  .sample_copy_1 .contact_text{
    font-size: 12px;
  }
}

@media only screen and (min-width: 568px){
  .sample_copy_1 .contact_text{
    font-size: 18px;
  }
}

@media only screen and (min-width: 667px){
  .sample_copy_1 .contact_text{
    font-size: 18px;
  }
}

@media only screen and (min-width: 768px){
  .sample_copy_1 .contact_text{
    font-size: 22px;
  }
}

@media only screen and (min-width: 1024px){
  .sample_copy_1 .contact_text{
    font-size: 24px;
  }
}

@media only screen and (min-width: 1200px){
  .sample_copy_1 .contact_text{
    font-size: 26px;
  }
}

.locations{
  margin-top: 100px;

}

.location_title{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.address_text{
font-family: "Roboto", sans-serif;
padding-top: 20px;
padding-left: 40px;
padding-right: 40px;

}
.parallax-container {
     height: 350px;
     box-sizing: border-box;
   }

.parallax_content{
  width: 100%;
  color: white;
  float: left;
  font-size: 120px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 100px;
  box-sizing: border-box;

}

@media only screen and (min-width: 320px){
  .parallax_content{
    font-size: 45px;
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    padding-top: 150px;
  }

  .parallax_font{
    font-size: 45px;
    text-align: center;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 360px){
  .parallax_content{
    font-size: 60px;
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    padding-top: 150px;
  }

  .parallax_font{
    font-size: 60px;
    text-align: center;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 375px){
  .parallax_content{
    font-size: 65px;
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    padding-top: 120px;
  }

  .parallax_font{
    font-size: 65px;
    text-align: center;
    margin: 0 auto;
  }
}


@media only screen and (min-width: 414px){
  .parallax_content{
    font-size: 65px;
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    padding-top: 120px;
  }

  .parallax_font{
    font-size: 65px;
    text-align: center;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 568px){
  .parallax_content{
    font-size: 70px;
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    padding-top: 150px;
  }

  .parallax_font{
    font-size: 70px;
    text-align: center;
    margin: 0 auto;
  }
}


@media only screen and (min-width: 667px){
  .parallax_content{
    font-size: 80px;
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    padding-top: 150px;
  }

  .parallax_font{
    font-size: 80px;
    text-align: center;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px){
  .parallax_content{
    font-size: 90px;
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    padding-top: 125px;
  }

  .parallax_font{
    font-size: 90px;
    text-align: center;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1024px){
  .parallax_content{
    font-size: 110px;
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    padding-top: 115px;
  }

  .parallax_font{
    font-size: 110px;
    text-align: center;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px){
  .parallax_content{
    font-size: 120px;
    text-align: center;
    margin: 0 auto;
    padding: 100px;
  }

  .parallax_font{
    font-size: 120px;
    text-align: center;
    margin: 0 auto;
  }
}


.contact_title{
  margin-top: 150px;
  text-align: center;
  font-size: 24px;
  padding-left: 100px;
  padding-right: 100px;
  font-family: "Roboto",sans-serif;
  font-style: bold;

}

.contact_text{
  text-align: center;
  font-size: 16px;
  padding-left: 100px;
  padding-right: 100px;
}

.footer_format{
  background-color: #343335;
  width: 100%;
  height: 100px;
}
.footer-copyright{
  text-align: center;
  padding: 40px;
}
